.name-step-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: 20px;
  }
  .name-step-input {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .book-step-container {
    height: 100vh;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

h4 {
    margin-bottom: 16px; 
}

ul {
    list-style: none; 
    padding: 0; 
    width: 100%; 
    max-height: 300px; 
    overflow-y: auto; 
}


li {
    background-color: #f5f5f5; 
    border-radius: 8px;
    padding: 12px;
    margin: 8px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-top: 20px; 
    display: flex;
    justify-content: center; 
    width: 100%; 
    padding-bottom: 20px; 
}
